/* MOBILE */
@media screen and (min-width: 330px) and (max-width: 575px){
    
    body {
        background-color: white;
        margin: 0;
        font-family: sans-serif;
    }
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        box-sizing: border-box;
    }
    
    h1, h2, h3, h4, p, span, li {
        color: #742305;
    }
    
    li, div, section, article img {
        border-radius: 5vh;
    }
    
    /* HEADER */

    header {
        margin: 3vh 5% 3vh 5%;
        background-color: #FEF7E2;
        width: 90%;
        padding: 22vh 1vh 3vh 1vh;
        border-radius: 15vh;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 3vh;
        height: 30vh;
    }

    li {
        background-color: #FFDF7F;
        list-style: none;
        font-size: 3vh;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10vh;
        width: 45%;
        height: 10vh;
        margin: 0 1vh 0 1vh;
    }
    
    li img {
        width: 12vh;
        padding-right: 4vh;
    }
    
    .shop {
        height: 18vh;
        font-size: 4.5vh;
        position: absolute;
        bottom: 75vh;
        width: 50vh;
    }
    
    /* ARTICLE */
    
    h1 {
        font-size: 6vh;
        font-weight: 800;
        margin: 10vh 0 5vh 3vh;
        text-align: center;
        line-height: 6vh;
    }
    
    article div {
        width: 90%;
        background-color: #FEF7E2;
        margin: 0 5% 8vh 5%;

    }

    .x {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    article img {
        width: 100%;
        border-radius: 7vh 7vh 0 0;
    }
    
    article {
        display: flex;
        flex-direction: column;
    }
    
    h4 {
        font-size: 3vh;
        font-weight: 600;
        margin: 7% 0 1% 15%;
    }
    
    article p {
        margin: 2% 0 0 20%;
        font-size: 2.5vh;
    }
    
    span {
        position: relative;
        left: 78%;
        bottom: 7vh;
        font-size: 3vh;
    }
    
    button {
        background-color: #FFDF7F;
        color: #742305;
        padding: 2vh 3vh 2vh 3vh;
        font-weight: bold;
        border-radius: 4vh;
        width: 70%;
        margin: 0 15% 3vh 15%;
        font-size: 2.5vh;
    }
    
    /* ASIDE */
    
    h2 {
        font-size: 5vh;
        font-weight: 800;
        margin: 10vh 0 0 3vh;
        text-align: center;
    }
    
    section {
        background-color: #FEF7E2;
        margin: 4vh;
        padding: 6vh;
    }
    
    h3 {
        font-size: 4vh;
        font-weight: 800;
    }
    
    section p {
        margin: 6vh 0 6vh 0;
        line-height: 4.5vh;
        font-size: 3vh;
    }
    
    section img {
        width: 100%;
    }
    
    }