html {
    background-color: white;
    font-family: Lora;
    color: 333;
}

header {
    text-align: center;
}

header p {
    background-color: rgb(250, 250, 172);
}

header img {
    width: 200px;
}

article {
    width: 60%;
}

article h1 {
    text-align: center;
}

article figure img {
    width: 100%;
}

.featured {
    color: peru;
}

a {
    color: teal;
}